/**
 * Timeline Component Style for uxcore
 * @author muwen.lb
 *
 * Copyright 2015-2016, Uxcore Team, Alinw.
 * All rights reserved.
 */

@prefix-cls: kuma-timeline;

.@{prefix-cls} {
  color: @text-primary-color;

  &-item {
    position: relative;
    padding: 0 0 0 20px;

    &-line {
      position: absolute;
      left: 3px;
      top: 5px;
      height: 100%;
      border-left: 2px solid @normal-alpha-7;
    }

    &-pending &-tail {
      display: none;
    }

    &-icon {
      position: absolute;
      top: 5px;
      left: 1px;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      border: #FFF 1px solid;
      background-color: @normal-alpha-4;
    }

    &-icon-custom {
      top: -2px;
      left: -4px;
      border: 0;
      border-radius: 0;
      background-color: #FFF;
      width: auto;
      height: auto;
    }

    &-title {
      padding-bottom: 10px;
    }

    &-content {
      padding: 0 0 10px;
    }

    &-last {
      .@{prefix-cls}-item-line {
        display: none;
      }
    }
  }

  &-pending &-item-last &-item-line{
    display: block;
    border-left-style: dotted;
  }
  &-item-pending &-item-line{
    display: none;
  }
  &-item-dotted &-item-line{
    border-left-style: dotted;
  }
  &-item-active &-item-icon{
    width: 8px;
    height: 8px;
    left: 0;
    background-color: @brand-primary;
  }
  &-item-active &-item-icon-custom {
    left: -4px;
    border-radius: 0;
    background-color: #FFF;
    width: auto;
    height: auto;
    color: @brand-primary;
  }
  &-item-active &-item-line{
    background-color: @brand-primary;
  }
  &-item-active &-item-title{
    color: @brand-primary;
  }
}
